{% extends "base.html" %}
{% load static %}

{% block title %}{{ tournament.name }} - DeltaCrown Tournaments{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'tournaments/detailPages/css/detail.css' %}">
<link rel="stylesheet" href="{% static 'tournaments/detailPages/css/detail_theme.css' %}">
<link rel="stylesheet" href="{% static 'tournaments/detailPages/css/detail_animations.css' %}">
{% endblock %}

{% block content %}
<div class="tournament-detail" data-game-slug="{{ game_spec.slug }}">
    
    {# Hero Section #}
    {% include 'tournaments/detailPages/partials/detail/hero.html' %}
    
    {# Meta Strip #}
    {% include 'tournaments/detailPages/partials/detail/meta_strip.html' %}
    
    {# Main Layout: Esports Control Center with Vertical Icon Rail #}
    <div class="td-main-layout">
        {# Left: Vertical Icon Tab Rail (becomes horizontal on mobile) #}
        <aside class="td-tabs-rail">
            {% include 'tournaments/detailPages/partials/detail/tab_nav.html' %}
        </aside>
        
        {# Right: Main Content Area with Tab Panels #}
        <section class="td-main-content">
            <div class="td-tab-panels">
                {% include 'tournaments/detailPages/partials/detail/tab_overview.html' %}
                {% include 'tournaments/detailPages/partials/detail/tab_rules.html' %}
                {% include 'tournaments/detailPages/partials/detail/tab_prizes.html' %}
                {% include 'tournaments/detailPages/partials/detail/tab_participants.html' %}
                {% include 'tournaments/detailPages/partials/detail/tab_bracket.html' %}
                {% include 'tournaments/detailPages/partials/detail/tab_matches.html' %}
                {% include 'tournaments/detailPages/partials/detail/tab_standings.html' %}
                {% include 'tournaments/detailPages/partials/detail/tab_streams_media.html' %}
                {% if tournament.enable_challenges or tournament.enable_fan_voting %}
                    {% include 'tournaments/detailPages/partials/detail/tab_challenges_fanvoting.html' %}
                {% endif %}
            </div>
        </section>
    </div>
    
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'tournaments/detailPages/js/detail.js' %}"></script>
<script src="{% static 'tournaments/detailPages/js/detail_live.js' %}"></script>
{% endblock %}
