{% extends "base.html" %}
{% load static %}
{% block title %}Create account — DeltaCrown{% endblock %}

{% block content %}
<section class="isolate bg-white px-6 py-24 sm:py-32 lg:px-8 dark:bg-gray-900">
  <div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
    <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="relative left-1/2 -z-10 aspect-1155/678 w-144.5 max-w-none -translate-x-1/2 rotate-30 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-288.75 dark:opacity-20"></div>
  </div>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a href="/" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      <img class="w-8 h-8 mr-2" src="{% static 'siteui/svg/logo-deltacrown-static.svg' %}" alt="logo">DeltaCrown
    </a>
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">Create an account</h1>
        <form class="space-y-4 md:space-y-6" method="post" action="{% url 'account:signup' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
          {% endif %}
          {% if form.non_field_errors %}
            <div class="text-red-500 text-sm">{{ form.non_field_errors }}</div>
          {% endif %}
          {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
          {% include "components/_form_fields.html" with form=form %}
          <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create an account</button>
        </form>
        <p class="text-sm font-light text-gray-500 dark:text-gray-400">Already have an account?
          <a href="{% url 'account:login' %}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login here</a>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
